.vs

C:\Users\ahamood\Documents\!_Xamarin\HelloWorld\HelloWorld\HelloWorld\bin

C:\Users\ahamood\Documents\!_Xamarin\HelloWorld\HelloWorld\HelloWorld.Android\bin

C:\Users\ahamood\Documents\!_Xamarin\HelloWorld\HelloWorld\HelloWorld.iOS\bin

C:\Users\ahamood\Documents\!_Xamarin\HelloWorld\HelloWorld\HelloWorld.UWP\bin